<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.web.mapper.Mapper">
	<!-- INSERT -->
	<insert id="register" parameterType="hashMap">
   INSERT INTO BoardUser(id, pass, phone, gender, age) VALUES (#{id}, #{pass}, #{phone}, 'M', #{age})
   </insert>
   <insert id="write">
   INSERT INTO Article(seq, id, title, content, regdate, readCount) VALUES (seq.nextval, #{id}, #{title}, #{content}, #{regdate}, '0')
   </insert>

	<!-- SELECT -->
   <select id="getArticleList" resultType="com.board.web.domain.Article" parameterType="hashMap">
   SELECT t2.* FROM (SELECT ROWNUM art_seq, t.* FROM (SELECT * FROM Article ORDER BY seq DESC) t) t2 WHERE t2.art_seq BETWEEN #{startRow} AND #{endRow}
   </select>
   
   <select id="getUser" resultType="com.board.web.domain.BoardUser" parameterType="hashMap">
   SELECT * FROM BoardUser WHERE id = #{id}
   </select>
   <select id="getAllUser" resultType="com.board.web.domain.BoardUser" parameterType="hashMap">
   SELECT * FROM BoardUser
   </select>
   
   <!-- UPDATE -->
   
   <!-- DELETE -->
   
   <!-- COUNT -->
   <select id="count" resultType="int" parameterType="hashMap">
   SELECT COUNT(*) FROM ${group}
   </select>
</mapper>